<div class="text-center p-3 bg-dark text-light" style="background-color: dark;">
    РЕКОМЕНДУЕМ ☺️
    <a class="text-body" href="https://mdbootstrap.com/"></a>
</div>
<div class="bg-dark">
    <br>
    <br>
</div>

<footer class="bg-dark text-center">
    <!-- Grid container -->
    <div class="container p-4 ">
        <!-- Section: Images -->
        <section class="">
            <div class="row bg-dark">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0 ">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <a href="http://127.0.0.1:8000/article/5/">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnEvnP0Qllj8ZWV3iunxlobi1Fd6eVtffKBw&usqp=CAU"
                                 class="w-100"/>
                        </a>
                        <br>

                        <p class="text-white">Том и джерри</p>
                        <a href="">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <a href="http://127.0.0.1:8000/article/3/">
                            <img src="https://www.syfy.com/sites/syfy/files/2023/03/fast_x_poster.jpg" class="w-100"/>
                        </a>
                        <p class="text-white">Форсаж 10</p>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <a href="http://127.0.0.1:8000/article/2/">
                            <img src="https://i.ytimg.com/vi/GxFiMKXsX7U/maxresdefault.jpg" class="w-100"/>
                        </a>
                        <br>
                        <br>
                        <p class="text-white">Пила 10</p>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <a href="http://127.0.0.1:8000/article/1/">
                            <img src="https://static.okko.tv/images/v3/7897080?scale=1&quality=80" class="w-100"/>
                        </a>
                        <br>
                        <br>
                        <p class="text-light">Одноклассники 2</p>
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <a href="https://www.netflix.com/uz-ru/">
                            <img src="https://www.film.ru/sites/default/files/filefield_paths/original_3.jpg"
                                 class="w-100"/>
                        </a>
                        <br>
                        <br>
                        <p class="text-white">Netflix, Inc. — американская развлекательная компания</p>

                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div data-mdb-ripple-init
                         class="bg-image hover-overlay shadow-1-strong rounded"
                         data-ripple-color="light"
                    >
                        <img width="250"
                             src="https://img.freepik.com/premium-photo/female-left-hand-pointing-to-the-left_253401-4680.jpg"/>
                        <br>
                        <br>
                        <p class="text-white">Прятного просмотро ))</p>

                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->

    <!-- Copyright -->
</footer>